<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
  {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "head/css.html" . }}
  {{ end }}
  {{ partialCached "head/js.html" . }}
</head>

<body>
  <div class="mockup-window bg-base-100 m-4 max-w-[960px] border border-base-300 shadow-xl md:mx-auto">
    {{ partial "navbar.html"}}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </div>

  <div class="m-4 mt-8 max-w-[960px] md:mx-auto">
    <footer>
      {{ block "footer" . }}{{ end }}
    </footer>
  </div>
</body>

</html>