{{ define "main" }}
  {{ with site.GetPage "/home" }}
    <article class="prose max-w-full bg-base-200 p-4 lg:prose-lg">
      
      {{ with .Resources.GetMatch "image" }}
        <img
          width="200"
          height="266"
          class="float-left mb-4 me-4 max-w-64 select-none rounded-lg shadow-md"
          src="{{ .RelPermalink }}"
          alt="photo"
        />
      {{ end }}

      {{ .Content }}

      <h2 class="clear-both">Games</h2>
      
      <div class="not-prose bg-base-200 grid gap-4 grid-cols-[repeat(auto-fill,minmax(200px,1fr))]">
        {{ range where .Site.RegularPages "Section" "games" }}
          {{ partial "game-card.html" . }}
        {{ end }}
      </div>
    </article>
  {{ end }}
{{ end }}
